$primary-color: #5773FF;
$secondary-color: #000000;
$white: #FFFFFF;
$font-size-small: 16px;
$font-size-medium: 24px;
$font-size-large: 32px;
$font-weight-light: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$background-color: #E6E6E6;