@import 'src/assets/scss/variables';

.video-section {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  padding-left: 97px;

  .header {
    font-size: 48px;
    font-weight: $font-weight-medium;
    line-height: 62.4px;
    color: $primary-color;
  }

  .main-content {
    position: relative;
    display: flex;
    padding: 10px;
    gap: 20px;
    overflow: hidden;
    margin-top: 80px;

    .video-wrapper {
      position: relative;
      display: block;
      max-width: 746px;
      height: 510px;

      &:hover video::-webkit-media-controls {
        visibility: visible;
      }

      video {
        width: 100%;
        height: auto;
        display: block;

        &::-webkit-media-controls {
          visibility: hidden;
        }
      }

      .video-container .controls {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }

      .video-container:hover .controls {
        opacity: 1;
      }
    }

    .progress-bar-container-mobile {
      display: none;
    }

    .progress-bar-container {
      margin: 0 48px;
      height: 510px;

      input[type=range][orient=vertical] {
        writing-mode: vertical-lr;
        direction: rtl;
        appearance: none;
        width: 16px;
        vertical-align: bottom;
        transform: rotate(540deg);
        -webkit-appearance: none;
        border-radius: 9999px;
        height: 516px;
      }

      input[type=range]::-webkit-slider-thumb {
        width: 5px;
        appearance: none;
        -webkit-appearance: none;
        border-radius: 50%;
        appearance: none;
        height: 5px;
        cursor: ew-resize;
        background: $primary-color;
      }

      input[type=range]:hover::-webkit-slider-thumb {
        background: $primary-color;
      }

      input[type=range]::-webkit-slider-runnable-track {
        margin-top: 5px;
        margin-bottom: 5px;
        width: 5px;
        height: 100%;
        background: $white;
        border-radius: 9999px;
        border: none;
      }

      input[type=range]::-webkit-slider-runnable-track {
        background: linear-gradient(to top, $primary-color 0%, $primary-color var(--progress, 0%), $white var(--progress, 0%), $white 100%);
      }
    }


    .timestamps {
      display: flex;
      flex-direction: column;
      gap: 32px;
      overflow-y: auto;
      padding-right: 14px;

      .timestamp {
        border-bottom: 1px solid #00000012;
        padding-bottom: 12px;

        .timestamp-header {
          display: flex;
          flex-wrap: wrap;

          .timestamp-title {
            padding: 10px;
            color: #007bff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: $font-size-medium;
            font-weight: $font-weight-medium;
            line-height: 31.2px;
          }
        }

        .timestamp-content {
          .timestamp-description {
            margin: 0;
            font-size: 20px;
            font-weight: $font-weight-light;
            line-height: 30px;
            color: $secondary-color;
          }
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .video-section {
    .main-content {
      .video-wrapper {
        height: auto;
        max-width: 674px;
      }

      .progress-bar-container {
        margin: 0 24px;
        height: 505px;
  
        input[type=range][orient=vertical] {
          height: 508px;
        }
      }
    }
  }
}

@media (max-width: 1220px) {
  .video-section .main-content {
    .video-wrapper {
      max-width: 578px;
    }
    
    .progress-bar-container {
      height: 434px;

      input[type=range][orient=vertical] {
        height: 434px;
      }
  }
  }
}

@media (max-width: 1122px) {
  .video-section .main-content {
    .video-wrapper {
      max-width: 482px;
    }
    
    .progress-bar-container {
      margin: 0 16px;
      height: 362px;

      input[type=range][orient=vertical] {
        height: 362px;
      }
  }
  }
}

@media (max-width: 1024px) {
  .video-section {
    padding-left: 64px;
    .main-content {
      margin-top: 64px;
      .video-wrapper {
        max-width: 434px;
      }

      .progress-bar-container {
        height: 328px;
  
        input[type=range][orient=vertical] {
          height: 328px;
        }
      }
    }
  }
}

@media (max-width: 930px) {
  .video-section {
    .main-content {
      .video-wrapper {
        max-width: 410px;
      }

      .progress-bar-container {
        height: 308px;
  
        input[type=range][orient=vertical] {
          height: 308px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .video-section {
    padding: 32px 64px 16px 64px;
    margin: 0;

    .header {
      font-size: $font-size-large;
      line-height: 41.6px;
    }

    .main-content {
      flex-direction: column;
      margin-top: 32px;
      padding: 0;

      .video-wrapper {
        max-width: 628px;
        height: auto;

        .video-container .controls {
          opacity: 0;
          transition: opacity 0.3s ease-in-out;
        }

        .video-container:hover .controls {
          opacity: 1;
        }
      }

      .progress-bar-container {
        display: none;
      }

      .progress-bar-container-mobile {
        display: block;
        width: 100%;
        margin-top: 32px;

        input[type=range] {
          writing-mode: horizontal-tb;
          direction: ltr;
          appearance: none;
          width: 628px;
          height: 16px;
          -webkit-appearance: none;
          border-radius: 9999px;
        }

        input[type=range]::-webkit-slider-thumb {
          width: 5px;
          appearance: none;
          -webkit-appearance: none;
          border-radius: 50%;
          appearance: none;
          height: 5px;
          cursor: ew-resize;
          background: $primary-color;
        }

        input[type=range]:hover::-webkit-slider-thumb {
          background: $primary-color;
        }

        input[type=range]::-webkit-slider-runnable-track {
          margin-right: 5px;
          margin-left: 5px;
          width: 100%;
          height: 5px;
          background: $white;
          border-radius: 9999px;
          border: none;
        }

        input[type=range]::-webkit-slider-runnable-track {
          background: linear-gradient(to right, $primary-color 0%, $primary-color var(--progress, 0%), $white var(--progress, 0%), $white 100%);
        }
      }

      .timestamps {
        display: flex;
        flex-direction: column;
        gap: 32px;
        overflow-y: auto;
        padding-right: 50px;

        .timestamp {
          border-bottom: 1px solid #00000012;
          padding-bottom: 12px;

          .timestamp-header {
            .timestamp-title {
              padding: 10px;
              color: #007bff;
              border: none;
              border-radius: 5px;
              cursor: pointer;
              font-size: 20px;
              font-weight: $font-weight-medium;
              line-height: 26px;
            }
          }

          .timestamp-content {
            .timestamp-description {
              font-size: $font-size-small;
              font-weight: $font-weight-light;
              line-height: 24px;
              color: $secondary-color;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 484px) {
  .video-section {
    padding: 32px 16px 16px 16px;

    .main-content .timestamps {
      display: flex;
      flex-direction: column;
      gap: 32px;
      overflow-y: auto;
      padding-right: 0;
    }
  }
 }

@media (max-width: 360px) {
  .video-section {
    .main-content {
      .video-wrapper {
        max-width: 328px;
      }

      .progress-bar-container-mobile {
        input[type=range] {
          writing-mode: horizontal-tb;
          direction: ltr;
          appearance: none;
          width: 328px;
          height: 16px;
          -webkit-appearance: none;
          border-radius: 9999px;
        }
      }
    }
  }
}